.navbar-brand {
    padding: 0px; /* firefox bug fix */
  }
  .navbar-brand>img {
    height: 100%;
    padding: 2px; /* firefox bug fix */
    width: auto;
  }
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}