<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">Aythentification</div>
    <div class="panel-body">
      <form #f="ngForm" (ngSubmit)="onLogin(f.value)" >
        <div class="form-group">
          <label class="control-label">Username</label>
          <input type="text" name="username" ngModel class="form-control">
        </div>
        <div class="form-group">
          <label class="control-label">Password</label>
          <input type="text" name="password" type="password" ngModel class="form-control">
        </div>
        <button type="submit" class="btn btn-default">Login</button>
        <button [routerLink]="['/register']" class="btn btn-default">Register</button>
      </form>
      <span><a [routerLink]="['/password']">Forgotten password?</a></span>
    </div>
  </div>
</div>
